[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
bs4 = "*"
langchain = "*"
langchain-community = "*"
langgraph = "*"
langchain-openai = "*"
duckduckgo-search = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.13"
